:root {
  --main-color: #6f34fe;
  --main-color-alt: #242329;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(images/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container .box {
  height: 86vh;
  width: 75%;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px 17px rgba(255, 255, 255, 1.35);
}
.container::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background: #c1d9fb;
  transform: translate(490px, 150px);
  border-radius: 50%;
}
.container .box nav {
  height: 7%;
  width: 95%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
  font-size: 30px;
  font-weight: bold;
}
.container .box nav ul li {
  display: inline-block;
  padding: 0 20px;
}
.container .box nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--main-color-alt);
}
.container .box nav ul li a:hover {
  transition: 0.5s;
  scale: 2;
  color: var(--main-color);
}
nav .logo {
  font-size: 35px;
  color: var(--main-color-alt);
  font-weight: bold;
  margin-top: 5px;
  margin-left: 30px;
  text-decoration: none;
}
.container .box .contains {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  padding-left: 80px;
}
.container .box .contains .section-1 {
  position: relative;
  width: 40%;
}
.contains .section-1 h1 {
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: bold;
  color: var(--main-color-alt);
}
.contains .section-1 h3 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.contains .section-1 p {
  font-size: 28px;
  color: #505052;
  margin-bottom: 50px;
}
.contains .section-1 .btn {
  padding: 15px 20px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.contains .section-1 .btn:hover {
  background-color: #fff;
  color: var(--main-color);
}
.contains .section-2 {
  width: 40%;
  margin-right: 50px;
}
.contains .section-2 img {
  width: 100%;
}
.contains .section-3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  left: 10px;
  top: 40%;
  font-size: 25px;
}
.contains .section-3 a i {
  font-size: 28px;
  color: #7c8bd1;
  transition: 0.3s;
}
.contains .section-3 a i:hover {
  color: var(--main-color);
}
